.thermometer-wrapper {
    height: 400px;
    width: 200px;
    position: relative;
}

#thermometer {
    position: absolute;
}

#thermometer-level {
    position: absolute;
    height: 270px;
    width: 20px;
    left: 85px;
    top: 24px;
}

#thermometer-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 20px;
    background: grey;
}

#level {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 20px;
    background: red;
}